/* Begin styling for SNOW */
.flakes {
  background: white;
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
  -webkit-animation: snowflakes-fall linear infinite;
  -moz-animation: snowflakes-fall linear infinite;
  -o-animation: snowflakes-fall linear infinite;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

@-moz-keyframes snowflakes-fall {
  0% {
    opacity: 1;
    -moz-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    -moz-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    -moz-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

@-o-keyframes snowflakes-fall {
  0% {
    opacity: 1;
    -o-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    -o-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    -o-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
/* End styling for SNOW */


/* Begin styling for RAIN */
.drop {
  background: #0d343a !important;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(13, 52, 58, 1)),
    to(rgba(255, 255, 255, 0.6))
  ) !important;
  background: -moz-linear-gradient(
    top,
    rgba(13, 52, 58, 1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  ) !important;
  background: -o-linear-gradient(
    top,
    rgba(13, 52, 58, 1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  ) !important;
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall .5s linear infinite; 
  -moz-animation: fall .5s linear infinite;
  -o-animation: fall .5s linear infinite;
}

@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@-o-keyframes fall {
  to {
    margin-top: 900px;
  }
}
/* End styling for RAIN */

/* Begin styling for CLOUDS */
.clouds{
  position: fixed;
  top: 0;
  padding: 100px 0;
}

.cloud {
	width: 200px;
  height: 60px;
	background: #fff !important;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff !important;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
/* End styling for CLOUDS */
