@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  margin: 0;
  overflow: hidden;
  padding: 25px;
}

.container {
    position: absolute;
    top: 25%;
    display: grid;
    column-gap: 2em;
    padding: 1em;
    grid-template-rows: 1fr min-content;
    align-items: stretch;
    grid-template-areas: "h w"
                         "h waf"
}

.header {
  grid-area: h;
  font-family: "Homemade Apple", cursive;
  font-size: 4em;
  padding-bottom: 10px;
}


/* Begin color and styling of weather results and form */
#weather, #weather-app-form {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

#weather-app-form > #zipcode,
#weather-app-form > #submit {
  border-style: solid;
  border-color: black;
}

#weather-app-form > #zipcode {
  border-radius: 15px 0px 0px 15px;
  border-width: 1px 0 1px 1px;
  background-color: inherit;
}

#weather-app-form > #submit {
  border-radius: 0px 15px 15px 0px;
  border-width: 1px 1px 1px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* End color and styling of weather results and form */

/* Begin default layout (styled with large screens in mind) */
#weather-app-form {
  grid-area: waf;
  grid-template-areas: "wafz wafs"
                       "waftur waftur";
}

#weather-app-form > #zipcode {
  grid-area: wafz;
}

#weather-app-form > #submit {
  grid-area: wafs;
}

#weather-app-form > #temp_units_radios {
  grid-area: waftur;
  display: flex;
  flex-flow: row nowrap;
}

#weather {
    grid-template-areas: "wcc"
                         "wt";
}

#weather > #curr_conditions {
  grid-area: wcc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.25em;
}

#weather > #temps {
  grid-area: wt;
  display: grid;
  justify-items: center;
  grid-template-areas: "wtct wtct"
                       "wtmax wtmin";
}

#weather > #curr_conditions > img {
  grid-area: wcci;
}

#weather > #curr_conditions > #conditions {
  grid-area: wccc;
}

#weather > #temps > #curr_temp {
  grid-area: wtct;
  font-size: 6em;
}

#weather > #temps > #temp_max,
#weather > #temps > #temp_min {
  font-size: 1.5em;
}

#weather > #temps > #temp_max {
  grid-area: wtmax;
}

#weather > #temps > #temp_min {
  grid-area: wtmin;
}
/* End default layout (styled with large screens in mind) */

/* Begin media queries */
@media only screen and (max-width: 767px) {
    .container {
        display: block;
    }

    .header {
        display: none;
    }

    #weather {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #weather-app-form {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 2560px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}