{% extends "base.html" %}

{% block content %}
<header class="header">
  <section class="contact-form center">
      <h1 class="center-text">Contact Me</h1>
      {% with flashed_messages = get_flashed_messages(with_categories=true) %}
            {% if flashed_messages %}
            <ul class="flash">
              {% for category, messages in flashed_messages %}
                {% for message in messages.values() %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
            {% endif %}
      {% endwith %}
      <form name="contact" class="grid" action="{{ url_for("contact") }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(class_="form-input") }}

        {{ form.email.label }}
        {{ form.email(class_="form-input") }}

        {{ form.subject.label }}
        {{ form.subject(class_="form-input") }}

        {{ form.message.label }}
        {{ form.message(class_="form-input") }}

	{{ form.recaptcha }}

        {{ form.submit }}
      </form>
  </section>
</header>
{% endblock %}
