<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Justin Lane's Portfolio - Welcome</title>
  <meta name="description" content="Portfolio of Justin Lane">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
</head>

<body>

  <div class="container">
    <header class="header">
      <section id="intro">
        <h1>Justin Lane</h1>
        <h2>Software Developer</h2>
      </section>
    </header>

    <section id="about">
      <h1>About Me</h1>
      <p>Hello, my name is Justin Lane and I am a software developer from Louisville, KY.</p>
      <p>I discovered a love a coding while completing my Bachelor's degree. As a child I had enjoyed creating mods for the video games I was playing, but was always more pleased with the end result.  Now, I find I enjoy the entire process.  The planning, designing, testing, and of course the actual coding.  It's a challenge and keeps me from getting bored.</p>
    </section>

    <section id="portfolio">
      <h1>My Portfolio</h1>
      <ul class="grid-list">

        <li class="item">
          <a href="./contact.html">
          <div class="bar">
          <h2>Basic Contact Form</h2>
            <div class="circle"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="close-x"></div>
          </div>
          <picture class="screenshot">
            <img src="./img/item-1.jpg">
            <div class="overlay">blah blah blah</div>
          </picture>
          </a>
        </li>

        <li class="item">
          <a href="https://github.com/jclane/blank-page">
            <div class="bar">
              <h2>Blank Page</h2>
              <div class="circle"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="close-x"></div>
            </div>
            <picture class="screenshot">
              <img src="./img/portfolio-item.jpg">
              <div class="overlay">blah blah blah</div>
            </picture>
          </a>
        </li>

        <li class="item">
          <a href="https://github.com/jclane/blank-page">
            <div class="bar">
              <h2>Blank Page</h2>
              <div class="circle"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="close-x"></div>
            </div>
            <picture class="screenshot">
              <img src="./img/portfolio-item.jpg">
              <div class="overlay">blah blah blah</div>
            </picture>
          </a>
        </li>

        <li class="item">
          <a href="https://github.com/jclane/blank-page">
            <div class="bar">
              <h2>Blank Page</h2>
              <div class="circle"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="close-x"></div>
            </div>
            <picture class="screenshot">
              <img src="./img/portfolio-item.jpg">
              <div class="overlay">blah blah blah</div>
            </picture>
          </a>
        </li>

      </ul>
      </section>


  <!--
  <footer>
      <section id="social-media-links">
          <ul class="list-inline">
              <li>
                  <a href="https://www.facebook.com/justin.clay.lane"><i class="fab fa-facebook fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.twitter.com/justin_lane"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://github.com/jclane"><i class="fab fa-github fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/justinclaylane"><i class="fab fa-linkedin fa-fw fa-3x"></i></a>
              </li>
          </ul>
      </section>
      <hr class="hr-small">
      <p class="text-muted">Copyright &copy; Justin Lane 2021</p>
      <a class="to-top button"><i class="fas fa-angle-double-up fa-2x"></i></a>
    </footer>
    -->
  </div>
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <!-- Add later -->
  <script src=""></script>
</body>

</html>