{% extends "weather_base.html" %}

{% block weather %}

    {% if weather %}
        <div id="weather">
            <div id="curr_conditions">
                <img id="icon" src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
                <span id="conditions">{{ weather.conditions }}</span>
                <input type="hidden" id="hidden_field" value={{ weather.conditions_id }} />
            </div>
            <div id="temps">
                <span id="curr_temp">{{ weather.curr_temp }}&deg;</span>
                <span id="temp_max">hi: {{ weather.temp_max }}&deg;</span>
                <span id="temp_min">lo: {{ weather.temp_min }}&deg;</span>
            </div>
        </div>
    {% endif %}

{% endblock %}

