{% extends "weather_base.html" %}

{% block weather %}

<div id="weather">
<!-- The current weather will go here. -->
    {% if weather %}
        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png"><br>
        <div id="temps">
            <span id="curr_temp">{{ weather.curr_temp }}&deg;</span>
            <span id="temp_max">{{ weather.temp_max }}&deg;</span>
            <span id="temp_min">{{ weather.temp_min }}&deg;</span>
        </div>
        <div id="curr_conditions">
            <span id="conditions">{{ weather.conditions }}</span>
        </div>
    {% endif %}
</div>

{% endblock %}

